# Utilizando Python como una calculadora

## Identificadores y variables en python

Un *identificador* es una secuencia de símbolos que se utilizan como nombres de variables, funciones, clases y otras estructuras de los lenguajes de programación.

Los identificadores se escriben como secuencias de caracteres alfanuméricos del alfabeto inglés. En python se utiliza una notación conocida como snake_case (ó palabras en minúsculas separadas por guiones) para evitar utilizar espacios como por ejemplo: conteo_animales, nombre_usuario, velocidad, etc. Se recomienda utilizar únicamente letras del alfabeto inglés a la hora de usar identificadores.


### Palabras reservadas 

```
# Estas son las palabras reservadas de python
False      await      else       import     pass
None       break      except     in         raise
True       class      finally    is         return
and        continue   for        lambda     try
as         def        from       nonlocal   while
assert     del        global     not        with
async      elif       if         or         yield

```

Fuente:  https://docs.python.org/3/reference/lexical_analysis.html#identifiers

Son ejemplos de identificadores válidos:

```
i
x
suma
sumando1
sumando2
edad 
pais_de_nacimiento
nombre 
area_circulo

```

Los identificadores son sensibles a mayúsculas y minúsculas, esto quiere decir que por ejemplo los identificadores `dia`,  `DIA` y `Dia` harían referencia a variables distintas.

In [1]:
Dia = 'lunes'
dia = 'martes'
dIA = 'jueves'
DIA = 'miercoles'

print('Dia={} dia={} DIA={} dIA={}'.format(Dia,dia,DIA, dIA))

Dia=lunes dia=martes DIA=miercoles dIA=jueves

## Tipos de datos escalares

Los programas manipularán diferentes tipos de datos. Cada objeto tiene un tipo de datos asociado a el. Se tienen tipos de datos escalares que corresponden a: 

- `int` representa números enteros ejemplo: 5, -5
- `float` representa números reales 3.27
- `bool` representa valores booleanos `True` y `False`
- `Nonetype` es especial y tiene un único valor `None`

es posible usar type() para ver el tipo de dato de un objeto:

In [4]:
x = 5.6e12
type(x)

float

In [28]:
type(5)

int

In [29]:
type(3.0)

float

In [30]:
type(None)

NoneType

In [31]:
type(True)

bool

In [10]:
city='London' # A string variable assignment.
money = 100.75 # A floating point number assignment
count=4 #An integer assignment

In [11]:
type(city)

str

In [12]:
type(money)

float

In [8]:
city = 2
type(city)

int

## Operaciones aritméticas y lógicas

Los operadores aritméticos principales son:

- Suma: +
- Resta: -
- Multiplicación: *
- División entera: //
- División real: /
- Residuo: %
- Potencia: **
- Asignación: =
- Asignación con suma: +=
- Asignación con resta: -=

A continuación se muestran algunos ejemplos de operaciones básicas:

In [13]:
#división que te va a dar como resultado un número real.
7/3

2.3333333333333335

In [14]:
#División que te va a dar como resultado un número entero
7//3

2

In [51]:
1//4

0

In [52]:
1/4

0.25

In [15]:
#Ejemplo de la operación residuo
17 % 3

2

In [19]:
8*8*8*8*8*8*8

2097152

In [20]:
8**7

2097152

In [29]:
x = 5*3
print(x)

15

In [30]:
x = x + 2
print(x)

17

In [31]:
x += 2 # x = x + 2
print(x)

19

In [41]:
y =  4 * 6
z = 5
y += z
print(y)

29

# Operadores lógicos y de Comparación:

Python posee los siguientes operadores lógicos básicos:

- ```and, or, not``` 

Y los siguientes operadores de comparación:

- ```a == b```: retorna verdadero si los valores de a y b son iguales, falso en otro caso.
- ```a != b ```: retorna verdadero si los valores son diferentes, falso en otro caso.
- ```a >= b```: retorna verdadero si a es mayor o igual a b. 
- ```a > b```: retorna verdadero si a es mayor a b. 
- ```a <= b```: retorna verdadero si a es menor o igual a b.
- ```a < b```: retorna verdadero si a es menor a b.

A continuación algunos ejemplos:

In [42]:
a = 3
b = 4

print(a == b)

False

In [43]:
x = 3
y = 5
print(x > y)

False

In [44]:
-4 <= -7

False

In [45]:
x = 5*3
y = 15

print(x == y)

True

In [49]:
Claudia_pone_metro = False
Claudia_es_buena_alcaldesa = False

print(Claudia_pone_metro and Claudia_es_buena_alcaldesa)

False

In [69]:
p = False # hoy es lunes
q = False  # dos es impar

print(not p or q)

True

# Operaciones a nivel de bits

Python también soporta operaciones a nivel de bits:
- ```|``` or lógica
- ```&``` and lógico
- ```~``` not (unario)
- ```^``` xor
- ```>>``` corrimiento en bits a derecha
- ```<<``` corrimiento en bits a izquierda

In [70]:
24 | 5

29

In [71]:
24 & 5

0

In [72]:
2422 >> 1

1211

In [11]:
5 & 1

1

In [50]:
4 & 1

0

In [51]:
1 << 2

4

In [86]:
24^4 #xor

28

In [87]:
~4

-5

In [89]:
63 & ~(1 << 3)

55

## Conversión de tipos (casting)

Para realizar la conversión de tipos se utiliza el nombre del tipo de dato y paréntesis:

In [91]:
int(4.77)

4

In [8]:
float(65)

65.0

In [92]:
str(98)

'98'

In [55]:
var = 98
print(var)

98

## Lectura de variables desde la entrada estándar

Es posible leer valores digitados por el usuario de la siguiente forma:

In [59]:
x = input()
print("valor leido: " + x)

solito
valor leido: solito

In [60]:
nombre = input('digite su nombre:')
print("Hola " + nombre + "!!!!!")

digite su nombre:Arles
Hola Arles!!!!!

In [1]:
valor_compra = float(input("digite el valor de la compra: "))
#crear la variable porcentaje descuento y leer el valor
descuento = valor_compra*0.1 #hay un descuento del 10%
valor_a_pagar = valor_compra - descuento
print("El valor a pagar es: " + str(valor_a_pagar))
print('Tu ahorro fue de: ' + str(descuento))

digite el valor de la compra: 277276
El valor a pagar es: 249548.4
Tu ahorro fue de: 27727.600000000002

### Ejercicio 1

- Ejercicio 1: Utilizando el programa anterior, leer el descuento y calcular valor a pagar y ahorro.

### Ejercicio 2

Elabore un programa que Calcule el área de un rectángulo.

### Ejercicio 3: 

Elabore un programa que Calcule el área de un círculo.

In [2]:
from math import pi
print(pi)

3.141592653589793

## Ejercicio 4: Cajero Electrónico

El banco unaleño requiere su ayuda para la implementación de cajeros electrónicos en ciudad Gótica. Gótica tiene billetes de $10.000, $20.000, $50.000 y $100.000.

El banco desea emplear la menor cantidad de billetes posibles cuando un ciudadano realiza un retiro. El banco en otro desarrollo de software ya se aseguró de que la cantidad de dinero a retirar sea múltiplo de 10000.

Entrada

La entrada es un valor a retirar. Se garantiza que el valor a retirar es múltiplo de 10.000

Salida

El número de billetes a repartir de cada denominación en el formato mostrado en las ejecuciones de ejemplo:

Ejemplo

<table>
    <tr>
        <td>
        Input
        </td>
        <td>
        Output
        </td>
    </tr>
    <tr>
        <td>
        560000
        </td>
        <td><p>
            5 x \$100000 <br>   
            1 x \$50000<br>
            0 x \$20000<br>
            1 x \$10000<br>
           </p>
        </td>
    </tr>   
   
</table>

1000
2 años 9 mes(es) 0día(s)

## Referencias:

https://docs.python.org/3/reference/lexical_analysis.html#identifiers

Das, B. N. (2017). Learn Python in 7 Days. Packt Publishing Ltd.


Gomez, J, Rodriguez A y Cubides C. La ciencia de Programar. Universidad Nacional de Colombia.

Rodríguez, A (2020). Curso de Programación en Python. https://github.com/arleserp/cursopython