# Cadenas de texto (str) en python

Los textos representan una secuencia de cero o más caracteres. Una cadena de caracteres es una estructura de datos inmutable. Esto significa que no puede ser cambiada.

In [1]:
str1 = 'ejemplo de cadena'
print(str1)

ejemplo de cadena

```id(str_var)``` obtiene el identificador único (la posición en memoria) de la variable

In [2]:
id(str1)

1769627613128

In [3]:
str2 = 'otra cosa'
id(str2)

1769627687280

## Concatenar +

Concatena (pega) dos cadenas. Cuando se concatenan o se unen dos strings una nueva posición en memoria es creada para esta variable

In [4]:
str1 = str1 + str2
id(str1)

1769627746352

In [18]:
nombre = "Minch Yoda"
trabajo = "Stars War"
print(nombre+" el maestro")
print(nombre+trabajo)
print(trabajo+' '+nombre)

Minch Yoda el maestro
Minch YodaStars War
Stars War Minch Yoda

Para obtener la longitud de una cadena se puede utilizar la función len  ```len(str)```:

In [3]:
a = 'May the Force be with you.'
len(a)

26

In [5]:
b = ""
len(b)

0

## Consultando una cadena

Es posible determinar si una subcadena se encuentra en una cadena de carácteres. Para el programa

In [19]:
## Saber si una palabra o letra está en una cadena
text = 'cien años de soledad'

if 'años' in text:
    print('yes')

yes

## Iterando una Cadena

Es posible iterar una cadena de carácteres usando el ciclofor. Para elprograma

In [16]:
for i in range(len(s)):
    print(s[i]+",", end="")

h,o,l,a, ,a,m,i,g,o,s, ,m,i,o,s,

 ## Comparar cadenas
 
 Se usan los operadores convencionales (<,<=,>,>=,==,!=) para comparar cadenas usando el orden lexicográfico. En el orden lexicográfico, se comparan de izquierda a derecha uno a uno los carácteres, mientras sean iguales. En el caso que no sean iguales, si el carácter de la primera cadena es menor que el de la segunda se considera menor a la primer cadena, si es mayor se le considera mayor. Si todos los carácteres son iguales, se consideran iguales a las cadena. Para el programa

In [2]:
print( 'Rojas' < 'Rosas' )
print( 'Rojas' == 'rosas' )

True
False

## El operador de subíndice (subscript ```[]```)

Accede los elementos de un string, lista, tupla y demás estructuras de datos.

In [10]:
name = "Minch Yoda"
print(name[0]) #imprime M
print(name[6]) #imprime Y
print(name[5]) #imprime espacio

M
Y

Para obtener la longitud de la cadena name:

In [11]:
print(len(name))

10

In [12]:
#name[10] #error porque las posiciones de los caracteres van de 0 a 9

Es posible iterar de derecha a izquierda una cadena:

In [13]:
name[-1]

'a'

In [14]:
name[-10]

'M'

## Subcadenas  (slices)

En muchos casos es necesario obtener porciones de una cadena. Se maneja la notación ```[start:end:step]```

In [15]:
print(name)
name[0:5] #obtiene el texto desde la posición cero hasta la 4

Minch Yoda

'Minch'

In [16]:
name[:5]

'Minch'

In [17]:
name[6:10]

'Yoda'

In [18]:
name[::-1] #invierte una cadena

'adoY hcniM'

## Métodos interesantes con Strings

Para contar los caracteres en una cadena dada se puede utilizar ```count(substr), count(substr, start, end)```:

In [14]:
str1 = 'The avengers'
str1.count('e')

3

Es posible contar las ocurrencias de los elementos en una porción de la cadena:

In [17]:
str1.count('e',0,3)

1

In [36]:
str1.count('e',4,len(str1))

2

In [18]:
cad = 'abcabcabcabcabc'
cad.count('abc')

5

En algunos casos se requiere encontrar primer el índice de una subcadena en la cadena dada. Para esto se puede usar el método ```find()```. La sintaxis de ```find``` es la siguiente:

In [20]:
str1 = 'All we have to decide is what to do with the time that is given us.'
str1.find('we', 0, len(str1))

4

Para encontrar el último indice ```rfind``` de una cadena se puede usar:

In [25]:
str2 = 'It is not despair, for despair is only for those who see the end beyond all doubt. We do not.'
print('first:', str2.find('despair'))
print('last: ', str2.rfind('despair'))

first: 10
last:  23

## Mayúsculas/Minúsculas

In [7]:
s = input() #lee una cadena
print(s.lower())

CIEN AÑOS DE SOLEDAD EN MACONDO
cien años de soledad en macondo

In [8]:
s = input() #lee una cadena
print(s.upper()) #muestra la cadena en mayúsculas

cien años de soledad en macondo
CIEN AÑOS DE SOLEDAD EN MACONDO

Para poner en mayúsculas la primera letra de una cadena ```capitalize()```

In [9]:
name = 'cien años de soledad en Macondo'
print(name.capitalize())

Cien años de soledad en macondo

Para convertir el primer caracter de cada palabra en la cadena se puede usar ```title()```:

In [10]:
str1 = 'cien años de soledad en Macondo'
title = str1.title() 
print(title)
print(str1)

Cien Años De Soledad En Macondo
cien años de soledad en Macondo

Para intercambiar mayúsculas por minúsculas en una cadena se puede usar ```swapcase()```:

In [11]:
print(title)
title.swapcase()

Cien Años De Soledad En Macondo

'cIEN aÑOS dE sOLEDAD eN mACONDO'

## Removiendo caracteres (strip, lstrip, rstrip)

Cuando se está procesando un texto, a veces se encuentran caracteres al principio o al finalizar una cadena. Por ejemplo ```" ciudad de Bogotá "``` y ```" ICPC competition col"```

In [34]:
str1 = " ciudad de Bogotá "
str1.strip()

'ciudad de Bogotá'

In [35]:
str1 = " ciudad de Bogotá "
str1.rstrip()

' ciudad de Bogotá'

In [38]:
str1 = " ICPC competition col"
str1 = str1.rstrip("col")
print(str1)

 ICPC competition

## Dividiendo cadenas (split)

A veces se tienen strings definidas por partes como "05-06-2020" y se desea procesar u obtener una de las partes de la cadena. ```str1.split("delimiter", num)```

In [48]:
sdate = "05-06-2020"
sp = sdate.split("-") 
print(sp)
print('día:' + sp[0] + ' mes: ' + sp[1] + ' año: ' + sp[2])

['05', '06', '2020']
día:05 mes: 06 año: 2020

In [44]:
sdate = "05-06-2020"
sdate.split("-", 1)

['05', '06-2020']

In [47]:
### Split
cad = str(input())
num1, num2 = cad.split(' ') 
print('num 1:' + num1)
print('num 2:' + num2)
print(num1 + num2)

1234 132414
num 1:1234
num 2:132414
1234132414

In [59]:
#### en este código se pueden digitar dos números separados por &. Ejemplo 434354&23782375
s = input()
a,b = (int(x) for x in s.split("&"))
print("a=" + str(a))
print("b=" + str(b))
print("a+b=" + str(a+b))

2345325&278923742
a=2345325
b=278923742
a+b=281269067

Para empezar de derecha a izquierda:

In [49]:
sdate = "05-06-2020"
sdate.rsplit("-", 1)

['05-06', '2020']

## Justificación de cadenas

Existen cuatro métodos para justificar cadenas:

- ```ljust()``` justificar una cadena a la izquierda
- ```rjust()``` justificar una cadena a la derecha
- ```center()``` centrar una cadena
- ```zfill()``` llenar una cadena con ceros

In [53]:
str1 = 'Bogotá'
str1.ljust(15, "#")

'Bogotá#########'

In [54]:
str1 = 'Bogotá'
str1.rjust(15, "#")

'#########Bogotá'

In [55]:
str1 = 'Bogotá'
str1.center(15, "#")

'#####Bogotá####'

In [58]:
account = '123456789'
account.zfill(15)

'000000123456789'

In [82]:
binary_num = '10101010'
binary_num.zfill(16)

'0000000010101010'

## Reemplazando (replace)

Reemplazar una palabra de una cadena por otra: ```replace(old_str, new_str)```:

In [4]:
str1 = 'cien años de soledad'
print(str1)
rep = str1.replace('cien','setenta')
print(rep)
rep = rep.replace('años','días')
print(rep)
rep = rep.replace('soledad','clases sincrónicas!')
print(rep)

cien años de soledad
setenta años de soledad
setenta días de soledad
setenta días de clases sincrónicas!

Crear una palabra a partir de una lista:

In [67]:
lista = ['cien', 'años', 'de', 'soledad']
" ".join(lista)

'cien años de soledad'

In [68]:
"".join(lista)

'cienañosdesoledad'

In [69]:
"-".join(lista)

'cien-años-de-soledad'

## Métodos booleanos sobre cadenas

Utilizados para validar si una cadena dada cumple o no con una propiedad.

- ```endswith```: saber si una cadena termina con
- ```startswith```: saber si una cadena empieza con
- ```isalpha```: saber si una cadena contiene letras únicamente
- ```isalnum```: saber si una cadena contiene números y letras únicamente (alfanumérico)
- ```isdigit```: saber si una cadena contiene sólo dígitos.
- ```isspace```: saber si una cadena contiene sólo espacios.
- ```istitle```: saber si una cadena es un título
- ```islower```: saber si una cadena contiene todos sus caracteres en minúsculas
- ```isupper```: saber si una cadena contiene todos sus caracteres en mayúsculas

In [70]:
text = "Cien años de soledad."
result = text.endswith('soledad.')
print(result)

True

In [73]:
text = "Cien años de soledad."
result = text.startswith('años',5,len(text))
print(result)

True

In [77]:
str1 = 'lasquinceletras'
str1.isalpha()

True

In [78]:
str2 = 'las quince letras'
str2.isalpha()

False

In [79]:
str3 = 'edad:15'
str3.isalpha()

False

In [82]:
str4 = 'edad15'
str4.isalnum()

True

In [90]:
str5 = 'edad15#'
str5.isalnum() #si es alfanúmerico

False

In [86]:
str_num = '1234567898'
str_num.isdigit()

True

In [87]:
strs = " "
strs.isspace()

True

In [90]:
strs = 'Cien Años De Soledad'
strs.istitle()

True

In [91]:
str1 = 'pepe hola'
str1.islower()

True

In [95]:
str1 = 'pepe#235252'
str1.islower()

True

In [92]:
str1 = 'PEPE MUNCK'
str1.isupper()

True

Mínima ó máxima letra alfanumérica ```min```, ```max```:

In [96]:
min('abcdario')

'a'

In [99]:
max('abcdario')

'r'

yes

Es posible iterar cada letra de la cadena

In [14]:
s = "hola amigos mios"
for letra in s:  #se puede iterar cada letra de la cadena
    print(letra + ",", end=' ')

h, o, l, a,  , a, m, i, g, o, s,  , m, i, o, s,

In [15]:
frutas = ['Pera', 'Manzana', 'Mango']

for fr in frutas:
    print(fr)

Pera
Manzana
Mango

### Ejercicio 1: Validador

Al pequeño Sam le gusta escribir al reves. Sin embargo ha escrito unas cadenas muy largas y se tiene la traducción. Sam necesita su ayuda para saber si lo que ha escrito al revés es lo mismo que piensa.
Entrada:
Dos Strings uno con la cadena al derecho y otro con la posible cadena invertida.
Salida:
La palabra SI si la palabra corresponde a su versión invertida.  La palabra NO en caso contrario.
Ejemplo:

<table>
    <tr>
        <td>Input</td><td>Output</td>
    </tr>
    <tr>
        <td>
No tengo ningún consejo para darle a aquel que desespera.<br>
.arepsesed euq leuqa a elrad arap ojesnoc núgnin ognet oN
        </td><td>SI</td>
    </tr>
 <table>

## Referencias

Gomez, J, Rodriguez A y Cubides C. La ciencia de Programar. Universidad Nacional de Colombia.

Das, B. N. (2017). Learn Python in 7 Days. Packt Publishing Ltd.

Rodríguez, A (2020). Curso de Programación en Python. https://github.com/arleserp/cursopython